/*.bg{
    background-image: url("https://wallpapercave.com/wp/wp2128235.png");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 700px;
    position: relative;
}
.th{
    text-decoration-color: ivory;
}
*/