
<!DOCTYPE html>

<html lang="en">

<head>

 <title>Admin Landing</title>

 <meta charset="utf-8">

 <meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
<div class="bg">
<div class="container">
   
 <h2>Admin Portal</h2>
 <button type="button" class="btn btn-default btn-block" ><a href="/import" >import Data</a></button>

 <button type="button" class="btn btn-default btn-block"><a href="/companylist" >Manage Company</a></button>

 <button type="button" class="btn btn-default btn-block"><a href="/stockexchangelist" >Manage Exchange</a></button>

 <button type="button" class="btn btn-default btn-block"><a href="/iposlist">Update IPO Details</a></button>
 <button type="button" class="btn btn-default btn-block"><a href="/stockpricelist">Update Stockprice</a></button>
 <button type="button" class="btn btn-default btn-block"><a href="/stockexchangelist">Update Stock Exchange</a></button>
 <button type="button" class="btn btn-default btn-block"><a href="/userlist">User List</a></button>

 </div>
 </div>

 </body>

 </html>

