body {

    
    font-family: 'Roboto', sans-serif;
    background-image: url("https://media.istockphoto.com/photos/technical-financial-graph-on-technology-abstract-background-picture-id639666654?k=6&m=639666654&s=612x612&w=0&h=r9w9uwWP5A95iJ-fA4FwBeQ2VpGc1BUds4PSgePgm_s=");
      
        /* Control the height of the image */
        height: 500px;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .bg{
        background-image: url("https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height:500px;
    }
