<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

<title>Bootstrap Cool Login Form</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>

<body>

<div class="login-form">
    <div class="bg-img">

  <form action="adminlanding">



 <h2> Admin-Login</h2>

 <hr>

    <div class="form-group">

  <label>Email Address</label>

     <input type="email" class="form-control" name="email" required="required">

    </div>

 <div class="form-group">

  <label>Password</label>

      <input type="password" class="form-control" name="password" required="required">

    </div>

    <div class="form-group">

  <label>Admin-Key</label>

      <input type="adminkey" class="form-control" name="adminkey" required="required">

    </div>

 <div class="form-group">

      <button type="submit" class="btn btn-primary btn-block btn-lg"><a href="adminlanding"></a>Login</button>

    </div>
    <button class="btn"  onclick="window.location='./adminlanding/'"></button>
  </form>

    <div class="text-center">Access Admin <a href="admin-portal">Click here</a></div>

</div>
</div>
</body>

</html>               
