<div class="bg-img">
    <div class="row"></div>
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div [hidden]="submitted" style="width: 400px;">
        <h2>Add Stock Price</h2>
        <br>
        <form [formGroup]="stockpricesaveform" #saveStockprice1 (ngSubmit)="saveStockprice(saveStockprice1)">
          <div class="form-group">
            <label for="Companyname"><b>Company Name</b></label>
            <input type="text" class="form-control" formControlName="companyname" data-toggle="tooltip"
              data-placement="right" title="Enter Student Name">
            <div class="alert alert-danger" *ngIf="(Companyname.touched) && (Companyname.invalid)" style="margin-top: 5px;">
              <span *ngIf="Companyname.errors.required">Company Name is Required</span>
              <span *ngIf="Companyname.errors.minlength">
                MinLength Error
              </span>
            </div>
          </div>
  
          <div class="form-group">
            <label for="StockExchange"><b>Stock StockExchange</b></label>
            <input type="text" class="form-control" formControlName="stockexchange" data-toggle="tooltip"
              data-placement="right" title="Enter Turnover">
            <div class="alert alert-danger" *ngIf="(Stockexchange.touched) && (Stockexchange.invalid)" style="margin-top: 5px;">
              <span *ngIf="Stockexchange.errors.required">Required</span>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label for="number"><b>Enter Currentprice</b></label>
            <br>
            <input type="number" class="form-control" formControlName="currentprice" data-toggle="tooltip"
              data-placement="right" title="Enter currentprice">
            <div class="alert alert-danger" *ngIf="(Currentprice.touched) && (Currentprice.invalid)" style="margin-top: 5px;">
              <span *ngIf="Currentprice.errors.required"> Required</span>
              <span *ngIf="Currentprice.errors.minlength">
                Invalid Name
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="Date"><b>Enter Date</b></label>
            <br>
            <input type="date" class="form-control" formControlName="date" data-toggle="tooltip"
              data-placement="right" title="Enter  bod">
            <div class="alert alert-danger" *ngIf="(Date.touched) && (Date.invalid)" style="margin-top: 5px;">
              <span *ngIf="Date.errors.required"> User is Required</span>
  
            </div>
          </div>
          <div class="form-group">
            <label for="time"><b>Enter time</b></label>
            <br>
            <input type="time" class="form-control" formControlName="time" data-toggle="tooltip" step="1"
              data-placement="right" title="Enter time">
            <div class="alert alert-danger" *ngIf="(Time.touched) && (Time.invalid)" style="margin-top: 5px;">
              <span *ngIf="Time.errors.required">Required</span>
            </div>
          </div>
          <br>
          

          <div class="input-group">
         
            <label for="uploadfile">Upload File</label>
          
             <input type="uploadfile" class="form-control" type="file" (change)="selectFile($event)">
          
           </div>
  
  
          <br>
          <button type="submit" class="btn">Sign Up</button>
        </form>
          <div [hidden]="!submitted">
            <h4> Added SuccessFully!</h4>
            <button (click)="stockpricesaveform()"></button>
        
  </div>
  </div>
  </div>
